.dashboard-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.button-new-list{
    width: 450px !important;
    background-color: aqua;
}

.list-container {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    justify-content: space-evenly;
    flex-wrap: nowrap
}

.modal-new-task{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: beige;

}