.dashboard-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.button-new-list{
    width: 450px !important;
    background-color: aqua;
}

.list-container {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    justify-content: space-evenly;
    flex-wrap: nowrap
}