.button-dash-default{
    width: 150px;
    height:60px ;   
    text-align: center;
  
}

.button-close{
    border: none;
    display: flex;
    height: 20px;
    width: 20px;
   margin-left: 9em;
 
   
}

.button-add-task{
    width: 150px;
    height:40px ;   
}